# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

TaskList.md

coxgraph/.cache
coxgraph_sim/.cache
coxgraph_mod/.cache
coxgraph/compile_commands.json
coxgraph_sim/compile_commands.json
coxgraph_mod/compile_commands.json