<launch>
  <param name="use_sim_time" value="true" />

  <!-- User supplied arguments -->
  <arg name="pointcloud_topic" default="/kinect2/qhd/points" doc="ROS topic for pointcloud input" />
  <arg name="show_rviz" default="false" doc="Automatically launch Rviz." />
  <arg name="scene_name" default="cvg_lab" />
  <arg name="sensor_name" default="realsense" />
  <arg name="visualize" default="false" />

  <node pkg="tf" type="static_transform_publisher" name="map_to_mission" args="0 0 0 0 0 0 1 map0 mission0 100"/>
  <!--tf borrowed from realsense-->
  <node pkg="tf" type="static_transform_publisher" name="base_to_kinect2_0" args="0 0 0 0.502 -0.499 0.503 -0.496 robot_base_0 kinect2_rgb_optical_frame 100"/>

  <node pkg="nodelet" type="nodelet" name="nodelet_manager0" args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="cloudify0" args="load depth_image_proc/point_cloud_xyzrgb nodelet_manager0 --no-bond">
    <remap from="depth_registered/image_rect" to="/kinect2/qhd/image_depth_rect"/>
    <remap from="depth_registered/points" to="/kinect2/qhd/points"/>
    <remap from="rgb/image_rect_color" to="/kinect2/qhd/image_color_rect"/>
    <remap from="rgb/camera_info" to="/kinect2/qhd/camera_info"/>
  </node>

  <arg name="debug" default="false" />

  <group>
    <arg unless="$(arg debug)" name="launch_prefix" value=" " />
    <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb --args" />

    <node name="label_tsdf_client_0" pkg="maskgraph" type="label_tsdf_server" output="screen" args="-alsologtostderr" clear_params="true" launch-prefix="$(arg launch_prefix)">
      <remap from="pointcloud" to="$(arg pointcloud_topic)"/>
      <rosparam file="$(find maskgraph)/config/label_tsdf_server.yaml"/>
      <rosparam file="$(find maskgraph)/config/segment_map.yaml"/>
      <rosparam file="$(find maskgraph)/config/$(arg scene_name).yaml"/>
      <param name="meshing/visualize" value="$(arg visualize)" />
      <param name="enable_segment_map" value="false" />
      <param name="enable_local_segment_map" value="false" />
      <param name="verbose" value="true" />
      <param name="world_frame" value="map0"/>
      <remap from="tsdf_map_out" to="tsdf_map_out_0"/>
    </node>

  </group>


</launch>
