<?xml version="1.0"?>
<launch>
        <param name="use_sim_time" value="false" />
        <arg name="mav_name" default="jay" />
        <arg name="vehicle_no0" default="hero0" />
        <arg name="vehicle_no1" default="hero1" />
        <arg name="vehicle_no2" default="hero2" />
        <arg name="tsdf_voxel_size" default="0.5" />
        <arg name="truncation_distance" default="1.5" />
        <arg name="tw_voxblox_config_file" default="$(find coxgraph)/config/tsdf_server_carla.yaml" />

        <node pkg="nodelet" type="nodelet" args="manager" name="record_player_manager" output="screen" />
        <node pkg="nodelet" type="nodelet" name="cloudify_0" args="load depth_image_proc/point_cloud_xyzrgb record_player_manager --no-bond">
                <remap from="depth_registered/image_rect" to="/carla/$(arg vehicle_no0)/camera/depth/front/image_depth" />
                <remap from="depth_registered/points" to="/pointcloud_0" />
                <remap from="rgb/image_rect_color" to="/carla/$(arg vehicle_no0)/camera/rgb/front/image_color" />
                <remap from="rgb/camera_info" to="/carla/$(arg vehicle_no0)/camera/rgb/front/camera_info" />
        </node>

        <include file="$(find coxgraph)/launch/firefly/coxgraph_client.launch">
                <arg name="id" value="0" />
                <arg name="pointcloud_topic" value="/pointcloud_0" />
                <arg name="world_frame_suffix" value="odom" />
                <arg name="debug_tsdf" value="false" />
                <arg name="recover_mode" value="false" />
                <arg name="tsdf_voxel_size" default="$(arg tsdf_voxel_size)" />
                <arg name="truncation_distance" default="$(arg truncation_distance)" />
                <arg name="tw_voxblox_config_file" default="$(arg tw_voxblox_config_file)" />
        </include>
</launch>
