<?xml version="1.0"?>
<launch>
        <param name="use_sim_time" value="false" />

        <arg name="bag_file0" default="/home/lxy/Datasets/euroc/MH_01_easy.bag" />
        <arg name="bag_file1" default="/home/lxy/Datasets/euroc/MH_02_easy.bag" />
        <arg name="bag_file2" default="/home/lxy/Datasets/euroc/MH_03_medium.bag" />
        <arg name="tw_voxblox_config_file" default="$(find coxgraph)/config/tsdf_recover_server_euroc.yaml" />
        <arg name="tsdf_voxel_size" default="0.05" />
        <arg name="truncation_distance" default="0.15" />

        <include file="$(find coxgraph)/launch/euroc/vins_client_euroc.launch">
                <arg name="id" value="0" />
                <arg name="clock" value="false" />
                <arg name="play_speed" value="1.0" />
                <arg name="bag_file" value="$(arg bag_file0)" />
        </include>

        <include file="$(find coxgraph)/launch/firefly/coxgraph_client.launch">
                <arg name="id" value="0" />
                <arg name="pointcloud_topic" default="/pointcloud_0" />
                <arg name="world_frame_suffix" default="odom" />
                <arg name="tw_voxblox_config_file" default="$(arg tw_voxblox_config_file)" />
                <arg name="tsdf_voxel_size" value="$(arg tsdf_voxel_size)" />
                <arg name="truncation_distance" value="$(arg truncation_distance)" />
                <arg name="debug_tsdf" default="false" />
                <arg name="recover_mode" default="true" />
        </include>

        <group ns="coxgraph">
                <arg name="debug" default="false" />
                <!-- <arg unless="$(arg debug)" name="launch_prefix" value="xterm -e" /> -->
                <arg unless="$(arg debug)" name="launch_prefix" value="" />
                <arg if="$(arg debug)" name="launch_prefix" value="xterm -e gdb -ex run --args" />
                <node pkg="coxgraph" type="tsdf_recover_node" name="tsdf_recover_node_0" output="screen" args="-alsologtostderr" launch-prefix="$(arg launch_prefix)">
                        <remap from="~submap_mesh_with_traj" to="tsdf_client_0/mesh_with_history" />
                        <param name="publish_tsdf_map" value="true" />
                        <param name="publish_slices" value="true" />
                        <param name="publish_pointclouds" value="true" />
                        <param name="publish_traversable" value="true" />
                        <param name="tsdf_voxel_size" value="$(arg tsdf_voxel_size)" />
                        <param name="truncation_distance" value="$(arg truncation_distance)" />
                        <param name="max_ray_length_m" value="100" />
                        <param name="min_ray_length_m" value="0" />
                        <param name="world_frame" value="odom_0" />
                        <param name="method" value="fast" />
                        <param name="use_const_weight" value="true" />
                        <param name="use_tf_transforms" value="true" />
                        <param name="publish_map_every_n_sec" value="0.0" />
                        <param name="publish_map_with_trajectory" value="true" />
                        <param name="sensor_horizontal_resolution" value="1280" />
                        <param name="sensor_vertical_resolution" value="960" />
                        <param name="sensor_vertical_field_of_view_degrees" value="360" />
                </node>
        </group>

</launch>
