<?xml version="1.0"?>
<launch>
  <arg name="sensor" default="xtion"/>
  <include file="$(find ccmslam)/launch/CVG/Client0_cvg.launch">
    <arg name="sensor" default="$(arg sensor)"/>
  </include>
  <include file="$(find ccmslam)/launch/CVG/Client1_cvg.launch">
    <arg name="sensor" default="$(arg sensor)"/>
  </include>
  <!-- <include file="$(find ccmslam)/launch/Server.launch">
    <arg name="sensor_type" default="RGBD"/>
  </include> -->
</launch>