<?xml version="1.0"?>
<launch>
  <arg name="client_number" default="2"/>
  <arg name="sim_server" default="true" doc="Publish a static unit transform between client maps, without running the server"/>

  <node pkg="tf" type="static_transform_publisher" name="map_to_mission"
        args="0 0 0 0 0 0 1 map mission 100"/>

  <node pkg="tf" type="static_transform_publisher" name="sim_map0_to_map"
        args="0 0 0 0 0 0 1 map map0 100" if="$(arg sim_server)"/>
  <node pkg="tf" type="static_transform_publisher" name="sim_map1_to_map" 
        args="10 0 0 0 0 0 1 map map1 100" if="$(arg sim_server)"/>
  <node pkg="tf" type="static_transform_publisher" name="sim_map2_to_map"
        args="0 10 0 0 0 0 1 map map2 100" if="$(arg sim_server)"/>
  <node pkg="tf" type="static_transform_publisher" name="sim_map3_to_map" 
        args="10 10 0 0 0 0 1 map map3 100" if="$(arg sim_server)"/>

</launch>